<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>editCategory</title>
</head>
<body>
<table border="1" cellspacing="0" cellpadding="5">
    <div style="text-align:center">
        <form action="/updateCategory" method="post">
            分类 ID：<span th:text=${category.id}></span>
            <br/>
            <input type="hidden" name="id" th:value="${category.id}"/>
            分类名称：<input type="text" name="name" th:value="${category.name}"/>
            <br/>
            <input type="submit"/>
        </form>
    </div>

</table>
</body>
</html>