<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>listCategoryForThymeleaf</title>
</head>
<body>

    <div style="text-align:center">
        <table border="1" cellspacing="0" cellpadding="5">
            <tr>
                <th>ID</th>
                <th>分类</th>
                <th>编辑</th>
                <th>删除</th>
            </tr>
                <tr th:each="c: ${page.list}">
                    <td th:text="${c.id}">id</td>
                    <td th:text="${c.name}">name</td>
                    <td><a th:href="@{/editCategory(id=${c.id})}">编辑</a></td>
                    <td><a th:href="@{/deleteCategory(id=${c.id})}">删除</a></td>
                </tr>
            <tr>

                <td colspan="4">
                    <a href="?start=0">首页</a>
                    <a id="prePage" th:href="@{/listCategoryForThymeleaf(start=${page.pageNum - 1})}">上一页</a>
                    <a id="nextPage" th:href="@{/listCategoryForThymeleaf(start=${page.pageNum + 1})}">下一页</a>
                    <a th:href="@{/listCategoryForThymeleaf(start=${page.pages})}">末页</a>
                </td>
            </tr>
        </table>
    </div>

    <div style="margin-top:40px">
        <form method="post" action="/addCategory">
            分类名称： <input name="name" type="text">
            <input type="submit" value="增加分类">
        </form>
    </div>

</body>
</html>